body {
    background-color: white;
    background-image: url("images/background.jpg");
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: Courier New, monospace;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 100px;
    margin-left: 5%;
    margin-bottom: -13px;
}

p {
    font-family: Courier New, monospace;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 10px;
}

img {
    margin-top: 40%;
    padding-left: 5px;
}
