body {
    background-color: red;
    background-image: url("images/background.jpg");
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: sans-serif;
    font-size: 100px;
    margin-left: 5%;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 45px;
}

img {
    margin-top: 35%;
   padding-left: 5px;
}
